APP_PORT=9099
APP_PUBLIC_URL=http://localhost:9099
WEB_PUBLIC_URL=http://localhost:5173
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME"
BITRIX_PORTAL_DOMAIN=
BITRIX_WEBHOOK_URL=
BITRIX_CLIENT_ID=
BITRIX_CLIENT_SECRET=
BITRIX_LOCATIONS_LIST_IBLOCK_TYPE_ID=lists
BITRIX_LOCATIONS_LIST_ID=
BITRIX_LOCATIONS_CITY_FIELD=NAME
BITRIX_LOCATIONS_REGION_FIELD=PROPERTY_REGION
