APP_PORT=9099
APP_PUBLIC_URL=https://api.calc.<domain>
WEB_PUBLIC_URL=https://calc.<domain>
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"
BITRIX_PORTAL_DOMAIN=
BITRIX_WEBHOOK_URL=
